/* COMMON STYLES */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* /COMMON STYLES */

/* MOBILE HEADER STYLES */

.menu {
  display: none;
}

.contacts {
  display: none;
}

.page-header {
  padding: 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.page-navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* /MOBILE HEADER STYLES */

/* HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-navigation {
  width: 452px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu-link-studio {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link-studio::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  display: block;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
  width: 344px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.address {
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* /HEADER */

/* MAIN HERO */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg-foto.jpg");
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.order-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.main-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

/* /MAIN HERO */

/* BENEFITS */

.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
}

.benefits-list-title {
  margin-bottom: 8px;
}

.content-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
}

/* /BENEFITS */

/* OUR TEAM */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
  justify-content: center;
}

.our-team-section-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.content-container {
  padding: 32px 0;
}

.our-team-list-title {
  margin-bottom: 8px;
  text-align: center;
}

.our-team-list-text {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 12px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

/* /OUR TEAM */

/* OUR PORTFOLIO */

.our-portfolio {
  padding: 120px 0;
  justify-content: center;
}

.our-portfolio-section-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  width: 1128px;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.our-portfolio-list-title {
  margin-bottom: 8px;
}

.our-portfolio-list-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-content-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  width: 360px;
  height: 300px;
  background-color: #4d5ae5;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

/* /OUR PORTFOLIO */

/* FOOTER */

.footer-bgd {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-content-footer {
  margin-right: 120px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: inline-block;
  margin-bottom: 16px;
}

.logo-part-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.social-media-footer {
  margin-right: 80px;
}

.social-media-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 12px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:focus,
.social-list-link-footer:hover {
  background-color: #31d0aa;
}

.subscribe-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-field-wrapper {
  display: flex;
  gap: 24px;
}

.subscribe-button {
  display: flex;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button-icon {
  margin-left: 16px;
}

.subscribe-label {
  text-decoration: none;
}

.subscribe-input {
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

/* /FOOTER */

/* BACKDROP STYLES */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* /BACKDROP STYLES */

/* MODAL */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.callback-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.contact-form-field-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.contact-form-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  background-color: transparent;
  padding-left: 38px;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: #4d5ae5;
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: #4d5ae5;
}

.contact-form-field-wrapper {
  margin-bottom: 8px;
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment-wrapper {
  margin-bottom: 16px;
}

.contact-form-field-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.contact-form-field-comment:focus {
  border-color: #4d5ae5;
}

.contact-form-field-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.contact-form-field-comment:focus {
  border-color: #4d5ae5;
}

.contact-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.contact-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-label
  > .contact-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.contact-form-checkbox:focus
  + .contact-form-checkbox-label
  > .contact-form-own-checkbox {
  outline: 1px solid #404bbf;
}

.contact-form-own-checkbox-icon {
  fill: #f4f4fd;
}

.contact-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contact-form-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.contact-form-submit-btn {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /MODAL */
