.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER STYLES */

.menu {
  display: none;
}

.address {
  display: none;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu-link-studio {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.address-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE HEADER STYLES */
@media screen and (max-width: 767px) {
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    padding: 72px 24px 40px 16px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    line-height: 0;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    color: #2e2f42;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .mobile-menu-link-studio {
    color: #404bbf;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .mobile-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  /* /MOBILE HEADER STYLES */
}

/* TABLET HEADER STYLES */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-navigation-container {
    display: flex;
    align-items: center;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .address {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  /* /TABLET HEADER STYLES */
}

/* DESKTOP HEADER STYLES */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .logo {
    margin-right: 76px;
  }

  .address {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* /DESKTOP HEADER STYLES */
}

/* MOBILE HERO STYLES */
.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-image-hero-mobile@2x.jpg);
  }
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.order-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* /MOBILE HERO STYLES */

/* TABLET HERO STYLES */

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-image-hero-tablet.jpg);
    max-width: 768px;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-image-hero-tablet@2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/* /TABLET HERO STYLES */

/* DESKTOP HERO STYLES */

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-image-hero-desktop.jpg);
    max-width: 1440px;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-image-hero-desktop@2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
}
/* /DESKTOP HERO STYLES */

/* MOBILE BENEFITS STYLES */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.content-list-icon {
  display: none;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.benefits-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-list-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* /MOBILE BENEFITS STYLES */

/* TABLET BENEFITS STYLES */

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-list-title {
    text-align: start;
  }
}
/* /TABLET BENEFITS STYLES */

/* DESKTOP BENEFITS STYLES */
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
  }

  .benefits-list-title {
    font-size: 20px;
    font-weight: 500;
  }

  .benefits-list-text {
    font-weight: 400;
  }

  .content-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
  }
}
/* /DESKTOP BENEFITS STYLES */

/* MOBILE TEAM STYLES */
.our-team {
  background-color: #f4f4fd;
}

.our-team-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  justify-content: center;
  align-items: center;
}

.our-team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.content-container {
  padding: 32px 0;
}

.our-team-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-list-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 12px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}
/* /MOBILE TEAM STYLES */

/* TABLET TEAM STYLES */
@media screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
/* /TABLET TEAM STYLES */

/* DESKTOP TEAM STYLES */
@media screen and (min-width: 1158px) {
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-list {
    flex-wrap: nowrap;
    row-gap: 0;
  }
}
/* /DESKTOP TEAM STYLES */

/* PORTFOLIO STYLES */
.our-portfolio-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.our-portfolio-list-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /PORTFOLIO STYLES */

/* TABLET PORTFOLIO STYLES */
/* /TABLET PORTFOLIO STYLES */

/* DESKTOP PORTFOLIO STYLES */
/* /DESKTOP PORTFOLIO STYLES */
